CU_URL="https://cu.ardrive.io"
GATEWAY_URL="https://arweave.net"



WALLET_PATH="/tests/fixtures/test_wallet.json"



AOS_MODULE="cbn0KKrBZH7hdNkNokuXLtGryrWM--PjSTBqIzw9Kkk"
SCHEDULER="_GQ33BkPtZrqxA84vM8Zk-N2aO0toNNu_C-l-rawrBA"
AUTHORITY="fcoN_xJeisVsPXA-trzVAuIiqO3ydLQxM-L4XbrQKzY"