node_modules
dist
logs
.DS_Store
.npmrc
.idea
coverage/
._*
.env
e2e-test.json
test-output.json
*.log

# AO Localnet
.ao-localnet/
.ao-localnet.config.json
docker-compose.override.yml
ant-module-config.json
